@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply m-0 min-h-screen bg-white text-neutral-900 antialiased;
    background-image: theme(backgroundImage.dots-light);
    background-size: theme(backgroundSize.dots);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
